<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hexia Admin - Discount</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-coffee"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Hexia Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item  ">
                <a class="nav-link" href="/admin/dashboard">
                    <i class="fas fa-chart-line"></i>
                    <span>Bảng điểu khiển</span></a>
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/orders">
                    <i class="fas fa-receipt"></i>
                    <span>Đơn hàng</span></a>
            </li>
            <!-- Nav Item - Dashboard -->
            <li class="nav-item ">
                <a class="nav-link" href="/admin/menu">
                    <i class="fas fa-book"></i>
                    <span>Danh mục</span></a>
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item ">
                <a class="nav-link" href="/admin/products">
                    <i class="fab fa-product-hunt"></i>
                    <span>Sản phẩm</span></a>
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin/discounts">
                    <i class="fas fa-percent"></i>
                    <span>Mã giảm giá</span></a>
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">
                    <i class="fas fa-users"></i>
                    <span>Khách hàng</span></a>
            </li>






            <!-- Sidebar Toggler (Sidebar) -->


            <!-- Sidebar Message -->


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">






                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Phụng Trần</span>
                                <img class="img-profile rounded-circle" src="/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Số lượng mã giảm giá: <%- discounts.length -%></h6>
                                <div class="dropdown no-arrow ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModalDiscount">
                                        Thêm mã giảm giá
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalDiscount" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-gray-900 font-weight-bold"
                                                        id="exampleModalLabel">Tạo mã giảm giá</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/admin/discounts/add" method="POST"
                                                        enctype="form-data">
                                                        <div class="form-group">
                                                            <label for="exampleInput0"
                                                                class="text-gray-900 font-weight-bold">Mã giảm
                                                                giá</label>
                                                            <input type="text" style="text-transform:uppercase" class="form-control" id="exampleInput0"
                                                                aria-describedby="emailHelp" required value=""
                                                                name="code" >
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInput1"
                                                                class="text-gray-900 font-weight-bold">Tiêu đề</label>
                                                            <input type="text" class="form-control" id="exampleInput1"
                                                                aria-describedby="emailHelp" required value=""
                                                                name="title" >
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInput2"
                                                                class="text-gray-900 font-weight-bold">Khuyến
                                                                mãi</label>
                                                            <input type="number" class="form-control" id="exampleInput2"
                                                                name="percent" min="10" max="90"
                                                                required="Vui lòng nhập %">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInput5"
                                                                class="text-gray-900 font-weight-bold">Giá Point</label>
                                                            <input type="number" class="form-control" id="exampleInput5"
                                                                name="cost" min="100" max=""
                                                                required="Vui lòng nhập giá">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInput3"
                                                                class="text-gray-900 font-weight-bold">Ngày bắt
                                                                đầu</label>
                                                            <input type="date" class="form-control" id="exampleInput3"
                                                                name="dateStart" required="Vui lòng chọn ngày bắt đầu">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInput4"
                                                                class="text-gray-900 font-weight-bold">Ngày kết
                                                                thúc</label>
                                                            <input type="date" class="form-control" id="exampleInput4"
                                                                name="dateEnd" required="Vui lòng chọn ngày kết thúc">
                                                        </div>
                                                        <button type="submit" class="btn xxx">Lưu</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive" style="overflow-x: hidden;">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th><div class="text-center">Mã</div></th>
                                                <th><div class="text-center">Giá trị</div></th>
                                                <th><div class="text-center">Ngày bắt đầu</div></th>
                                                <th><div class="text-center">Ngày kết thúc</div></th>
                                                <th><div class="text-center">Point</div></th>
                                                <th><div class="text-center">Tiêu đề</div></th>
                                                <th><div class="text-center">Hành động</div></th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <% discounts.forEach(function(e){ %>
                                                <tr>
                                                    <td>
                                                        <div class="text-center">
                                                            <%-e.code-%>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-center">
                                                            <%-e.percent-%>%
                                                        </div>
                                                    </td>
                                                    <th>
                                                        <div class="text-center">
                                                            <%-moment(e.dateStart).locale('vi').format('L')-%>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="text-center">
                                                            <%-moment(e.dateEnd).locale('vi').format('L')-%>
                                                        </div>
                                                    </th>
                                                    <td class="text-gray-000">
                                                        <div class="text-center">
                                                            <%- e.cost -%>
                                                        </div>
                                                    </td>
                                                    <td class="text-gray-000">
                                                        <div class="text-center">
                                                            <%- e.title -%>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-center"> 
                                                            <% if (e.isActive===true) { %>
                                                                <a class="btn btn-warning"
                                                                    href="/admin/discounts/disable/<%-e._id-%>"
                                                                    onclick="return confirm('Bạn có chắc chắn là muốn ẩn khuyến mãi này không ?');">Ẩn</a>
    
                                                                <% } else {%>
                                                                    <a class="btn btn-success"
                                                                        href="/admin/discounts/enable/<%-e._id-%>">Hiện</a>
                                                                    <%}%>

                                                                        <a class="btn btn-danger"
                                                                            href="/admin/discounts/remove/<%-e._id-%>"
                                                                            onclick="return confirm('Khi xóa khuyến mãi này sẽ ảnh hưởng tới dữ liệu của bạn, bạn có chắc là muốn xóa khuyến mãi này không?');">Gỡ</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>



</body>

</html>